#Note: This script does not used build-wheels.sh nor the Makefile included in this repo (that's for local usage)

name: Build Wheels

on: [workflow_dispatch]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macOS-12]

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
           CIBW_ARCHS_LINUX: "x86_64"
           CIBW_ARCHS_MACOS: "x86_64 arm64"
           CIBW_BEFORE_ALL_LINUX: >
              if command -v apt-get; then
                apt-get -y git libicu-dev libxml2-dev libexttextcat-dev libxslt1-dev libbz2-dev zlib1g-dev autoconf automake autoconf-archive libtool autotools-dev gcc g++ make
              elif command -v yum; then
                yum install -y git libicu-devel libxml2-devel libxslt-devel libexttextcat zlib-devel bzip2-devel libtool autoconf-archive autoconf automake m4 wget
              elif command -v apk; then
                apk add build-base git autoconf-archive autoconf automake libtool bzip2-dev icu-dev libxml2-dev libexttextcat-dev libtool rsync &&
                rsync -av --ignore-existing /usr/share/aclocal/*.m4 /usr/local/share/aclocal/
              fi &&
              ./build-deps.sh
           CIBW_BEFORE_ALL_MACOS: >
              brew install pkg-config autoconf-archive autoconf automake &&
              git clone https://github.com/unicode-org/icu &&
              cd icu/icu4c/source &&
              ./configure && make && make install &&
              cd ../../../ &&
              git clone https://gitlab.gnome.org/GNOME/libxml2 &&
              cd libxml2 &&
              autoreconf --install && ./configure && make && make install &&
              cd ../ &&
              wget https://software.wise-guys.nl/download/libtextcat-2.2.tar.gz && 
              tar xzf libtextcat-2.2.tar.gz &&
              cd libtextcat-2.2 && autoreconf -i &&  ./configure && make && make install &&
              mkdir /usr/local/include/libtextcat/ && cp src/*.h /usr/local/include/libtextcat/ &&
              cd ../ &&
              git clone https://github.com/LanguageMachines/frog &&
              cd frog &&
              ./build-deps.sh &&
              ./bootstrap.sh &&
              ./configure && make && make install
           CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux2014_x86_64
           CIBW_SKIP: "*-win* *-manylinux_i686 pp*"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
